html {
    scroll-behavior: smooth;
    background-color: rgb(249, 249, 249);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100vh;
    background-color: rgb(249, 249, 249);
}
body * {
    box-sizing: border-box;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Open Sans';
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}

a,
a:hover,
a:active,
a:visited {
    appearance: unset;
    font-family: inherit;
    text-decoration: none;
    color: inherit;
    display: flex;
}

select:focus {
    outline: none !important;
}
.scroll-custom::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
    height: 8px;
}

.scroll-custom::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar::-webkit-scrollbar-thumb {
    display: none;
}


.active-link {
    position: relative;
    background-color: #FBB6CE;
}

.active-link::before {
    content: "";
    position: absolute;
    left: 0px;
    width: 5px;
    height: 100%;
    background-color: #D53F8C;
}

.active-link-border {
    background-color: #FBB6CE;
    border-left: 8px solid #D53F8C;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.white-img svg {
    filter: invert(99%) sepia(3%) saturate(347%) hue-rotate(152deg) brightness(118%) contrast(100%);
}

.grey-img svg {
    filter: invert(54%) sepia(0%) saturate(22%) hue-rotate(269deg) brightness(93%) contrast(94%);
}

.black-img {
    filter: invert(0%) sepia(5%) saturate(21%) hue-rotate(200deg) brightness(100%) contrast(104%);
}

/* make all cards equal height */
.alice-carousel__stage {
    display: flex;
}

.alice-carousel__stage-item {
    /* flex: 1 0 auto; */
    height: auto;
    margin-right: 16px;
}

/* buttons */
.alice-carousel__prev-btn {
    position: absolute;
    top: 0;
    right: 3.5rem;
    width: fit-content;
}

.alice-carousel__next-btn {
    position: absolute;
    top: 0;
    right: 1rem;
    width: fit-content;
}

.alice-carousel__prev-btn,
.alice-carousel__next-btn {
    @media screen and (max-width: 990px) {
        display: none;
    }
}

.alice-carousel__dots {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20px;
    margin-top: 20px;
}

.alice-carousel__dots-item.__active {
    background: rgb(67, 72, 102) !important;
    height: 14px;
    width: 14px;
    border-radius: 50%;
}

.alice-carousel__dots-item {
    background: rgba(0, 0, 0, 0.1) !important;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-right: 8px;
    cursor: pointer;
}